@font-face {
  font-family: 'ivk_wedding-icon';
  src:  url('../fonts/ivk_wedding-icon.eot?rqn97y');
  src:  url('../fonts/ivk_wedding-icon.eot?rqn97y#iefix') format('embedded-opentype'),
  url('../fonts/ivk_wedding-icon.ttf?rqn97y') format('truetype'),
  url('../fonts/ivk_wedding-icon.woff?rqn97y') format('woff'),
  url('../fonts/ivk_wedding-icon.svg?rqn97y#ivk_wedding-icon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ivk_wedding-icon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-google-plus:before {
  content: "\ea8b";
}
.icon-facebook:before {
  content: "\ea90";
}
.icon-twitter:before {
  content: "\ea96";
}
.icon-enlarge2:before {
  content: "\e989";
}
.icon-play22:before {
  content: "\ea15";
}
.icon-pause3:before {
  content: "\ea16";
}
.icon-stop3:before {
  content: "\ea17";
}
.icon-previous3:before {
  content: "\ea18";
}
.icon-next3:before {
  content: "\ea19";
}
.icon-backward3:before {
  content: "\ea1a";
}
.icon-forward22:before {
  content: "\ea1b";
}
.icon-play32:before {
  content: "\ea1c";
}
.icon-pause22:before {
  content: "\ea1d";
}
.icon-stop22:before {
  content: "\ea1e";
}
.icon-backward22:before {
  content: "\ea1f";
}
.icon-forward32:before {
  content: "\ea20";
}
.icon-first2:before {
  content: "\ea21";
}
.icon-last2:before {
  content: "\ea22";
}
.icon-previous22:before {
  content: "\ea23";
}
.icon-next22:before {
  content: "\ea24";
}
.icon-volume-high2:before {
  content: "\ea26";
}
.icon-volume-medium2:before {
  content: "\ea27";
}
.icon-volume-low2:before {
  content: "\ea28";
}
.icon-volume-mute3:before {
  content: "\ea29";
}
.icon-volume-mute22:before {
  content: "\ea2a";
}
.icon-loop2:before {
  content: "\ea2d";
}
.icon-infinite2:before {
  content: "\ea2f";
}
.icon-enlarge:before {
  content: "\e98a";
}
.icon-play2:before {
  content: "\ea25";
}
.icon-pause:before {
  content: "\ea2b";
}
.icon-stop:before {
  content: "\ea2c";
}
.icon-previous:before {
  content: "\ea2e";
}
.icon-next:before {
  content: "\ea30";
}
.icon-backward:before {
  content: "\ea31";
}
.icon-forward2:before {
  content: "\ea32";
}
.icon-play3:before {
  content: "\ea33";
}
.icon-pause2:before {
  content: "\ea34";
}
.icon-stop2:before {
  content: "\ea35";
}
.icon-backward2:before {
  content: "\ea36";
}
.icon-forward3:before {
  content: "\ea37";
}
.icon-first:before {
  content: "\ea38";
}
.icon-last:before {
  content: "\ea39";
}
.icon-previous2:before {
  content: "\ea3a";
}
.icon-next2:before {
  content: "\ea3b";
}
.icon-volume-high:before {
  content: "\ea3c";
}
.icon-volume-medium:before {
  content: "\ea3d";
}
.icon-volume-low:before {
  content: "\ea3e";
}
.icon-volume-mute:before {
  content: "\ea3f";
}
.icon-volume-mute2:before {
  content: "\ea40";
}
.icon-loop:before {
  content: "\ea41";
}
.icon-infinite:before {
  content: "\ea42";
}
.icon-audio:before {
  content: "\e900";
}
.icon-chevron-left:before {
  content: "\e901";
}
.icon-chevron-right:before {
  content: "\e902";
}
.icon-close:before {
  content: "\e903";
}
.icon-comment:before {
  content: "\e904";
}
.icon-link:before {
  content: "\e905";
}
.icon-loading:before {
  content: "\e906";
}
.icon-menu:before {
  content: "\e907";
}
.icon-pencil:before {
  content: "\e908";
}
.icon-pics:before {
  content: "\e909";
}
.icon-search:before {
  content: "\e90a";
}
.icon-share:before {
  content: "\e90b";
}
.icon-tag:before {
  content: "\e90c";
}
.icon-video:before {
  content: "\e90d";
}

