/*
  @package ivk_wedding
*/

/*
   Variables
  ==========================================================================
*/
$icon-font : 'fpr_theme-icon';
$body-font : 'Raleway', 'Helvetica Neue', 'Helvetica', Verdana, Arial, sans-serif;

$primary-color : #000000;
$dark-grey : #333333;
$light-grey : #898989;
$lighter-grey : #f1f1f1;
$orange : #ff9d1d;
$orange-hover: #F56B08;
$goldengreen : #A59A4F